.basic
{
    width: 1050px;
    height: 1140px;
    margin: auto;
   box-shadow: 2px 2px 20px 20px rgb(66, 65, 68);
    background-color: rgb(126, 223, 230);
}
h1
{
  
        width: 80%;
        height: 100px;
        margin: 8px auto 15px auto;
        box-shadow: 1px 1px 25px #7075FF;
        border-radius: 50px 1px 50px 1px;
        background-color: cornsilk;
        text-align: center;
        font-family: 'Goudy Old Style', Garamond, 'Big Caslon', 'Times New Roman', serif;
        font-size: 80px;
        font-weight: bold;
        color: indigo;
        font-style: oblique;
      }
   .level{
    text-align: center;
    color: rgb(255, 255, 153);
    border: 2px solid rgb(255, 255, 153);
    border-radius: 10px;
    display: inline-block;
    width: 15%;
    margin-right: 5px; 
    }
   .board {
   margin: 132px auto 35px auto;
    border: 25px solid #333;
  }
.cell {
 
  float: left;
  background-image: radial-gradient(rgb(96, 141, 240),#91b3da);
  border: 1px solid black;
  font-size:60px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
  line-height: 60px;
  
 
}
.user-display {
    margin:1px 50px 3px 50px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    color: #666;
    background-color: rgb(255, 255, 153);
    border-radius: 15px;
    box-shadow: 0 9px #999;
    border: 3px solid #39a9ee;
  }
  .instructions {
    padding: 10px 6px 10px 5px;
    margin: 6px 7px 3px 14px;
    display: inline-block;
    text-align:left;
    font-family: verdana, sans-serif;
    font-weight: bold;
    color: #14396A;
    font-size: 20px;
    text-shadow: 1px 1px 1px #7CACDE;
    box-shadow: 1px 1px 10px #000000;
    border: 2px solid #3866A3;
    background: peachpuff;
  }
  .controls {
    text-align: center;
  }
  /* navigation bar and buttons design */
.navigationBar {
    width: 69%;
    height: 70px;
    display: inline;
    float: left;
    margin-top: 10px;
    border-radius: 50px 50px 50px 50px;
    border: solid;
    background-color: lightskyblue;
    color: rgba(0, 137, 255, 1);
    box-shadow: 5px 1px 10px #000000;
    }
.navigationButton {
    padding: 10px 6px 10px 5px;
    width: 120px;
    border-radius: 50px 50px 50px 50px;
    height: 34px;
    margin: 6px 7px 3px 14px;
    display: inline-block;
    text-align:center;
    font-family: verdana, sans-serif;
    font-weight: bold;
    color: #14396A;
    font-size: 15px;
    text-shadow: 1px 1px 1px #7CACDE;
    box-shadow: 1px 1px 10px #000000;
    border: 2px solid #3866A3;
    background: peachpuff;
}
.navigationButton:hover {
    cursor: pointer;
    color: #14396A;
    background: #7ECFBF;
}
  /* drop down menu */
.slideMenu {
    width: 15%;
    margin: 25px 70px 10px 10px;
    display: inline;
    float: right;
}
.slideMenuButton {
    width: 93%;
}
.slideMenuButton, .slideMenu {
    height: 35px;
    font-family: 'trebuchet ms', sans-serif;
    font-weight: bold;
    color: #14396A;
    font-size: 18px;
    text-shadow: 3px 3px 1px #7CACDE;
    text-align: center;
    box-shadow: 2px 2px 2px #BEE2F9;
    padding-top: 11px;
    border-radius: 10px;
    border: 2px groove #3866A3;
    background: #63B8EE;
    background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
}
.slideMenuButton:hover, .slideMenu:hover {
    cursor: pointer;
    color: #14396A;
    background: #468CCF;
    background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
    background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
}
.dropDown1 {
    width: 200px;
    display: none;
    position: absolute;
    margin:80px auto auto 170px;
    float: left;
} 
.dropDown2 {
    width: 180px;
    display: none;
    position: absolute;
    margin: 75px auto auto 820px;
    float: right;
}
.dropDown3 {
  width: 210px;
  display: none;
  position: absolute;
  margin: 80px auto auto 330px;
  float: right;
}

 